<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<style>
			table {
				border-collapse: collapse;
				width: 100%;
			}
			th, td {
				border: 1px solid pink;
				padding: 8px;
				text-align: left;
				color:pink;
				background-color: black;
			}

			tfoot{
				font-weight: bold;
			}

			caption{
				font-weight: bold;
			}
			p{
				text-align: justify;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light" style ="background-color:black">
			<a class="navbar-brand" style="color: pink;" href="/">Plinks</a>
			<button class="navbar-toggler" style= "background-color:pink" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" style= "color:pink;" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" style= "color:pink;" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" style= "color:pink;" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" style= "color:pink;" href="/students" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" style= "color:pink;" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" style= "color:pink;" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>My HTML Demo</h1>

					<p><a href="#Tables">Tables</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#List">List</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#Images">Images</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#Audio">Audio</a>&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#Video">Video</a></p>

					<div id="Tables">
						<table>
							<caption> Square One</caption>
							<thead>
								<tr>
									<th colspan="3">Square One</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">No</td>
									<td rowspan="2">Title</td>
									<td rowspan="2">Lyrics</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td rowspan="2">1</td>
									<td rowspan="2">Whistle</td>
									<td rowspan="2">	
										Teddy.Bekuh Boom. B.I</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td rowspan="2">2</td>
									<td rowspan="2">Boombayah</td>
									<td rowspan="2">Teddy.Boom</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Blackpink's First Album</td>
								</tr>
							</tfoot>
						</table>
						<table style="border-collapse: collapse; width: 100%;">
							<caption>Square Two</caption>
							<thead>
								<tr>
									<th colspan="3">Square Two</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td rowspan="2">No</td>
									<td rowspan="2">Title</td>
									<td rowspan="2">Lyrics</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td rowspan="2">1</td>
									<td rowspan="2">Playing with fire</td>
									<td rowspan="2">Teddy</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td rowspan="2">2</td>
									<td rowspan="2">Stay</td>
									<td rowspan="2">Teddy</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td rowspan="2">3</td>
									<td rowspan="2">Whistle</td>
									<td rowspan="2">Teddy.Bekuh Boom B.I</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3">Blackpink's 2nd Album</td>
								</tr>
							</tfoot>
						</table>
						
						<p>Square One is the debut single album by South Korean girl group Blackpink. It was released digitally on August 8, 2016, by YG Entertainment. Square Two is the second single album by South Korean girl group Blackpink. It was released as a digital single on November 1, 2016, by YG Entertainment and distributed by KT Music. The single has a double A-side, "Playing with Fire" and "Stay" as well as an acoustic version of "Whistle".  </p>
					</div>


					<div id="List">
						<h3>KPOP groups and their members.</h3>
						<ul>
							<li>Blackpink</li>
							<ul>
								<li>Jisoo</li>
								<li>Jennie</li>
								<li>Lisa</li>
								<li>Rose</li>
							</ul>
							<li>BTS</li>
							<ul>
								<li>Jin</li>
								<li>Suga</li>
								<li>RM</li>
								<li>J-Hope</li>
								<li>V</li>
								<li>Jungkook</li>
								<li>Jimin</li>
							</ul>
							<li>Twice</li>
							<li>Red Velvet</li>
							<li>EXO</li>
							<li>Seventeen</li>
						</ul>
						<p>There are many KPOP groups today, the list above are some of the 3rd Generation KPOP groups and their members. These groups—and its members—rose to the top with their iconic discography, undeniable star power, and the “It” factor. Their fame set such a high bar that they’ve cemented their status as the groundbreakers of their respective music labels. </p>
					</div>

					<div id="Images">
						<h1 style= "margin-top: 25px">Blackpink</h1>
						<img src="https://people.com/thmb/ji9-nvlx8mQbLXjqfIN1tlQMlb8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(764x229:766x231):format(webp)/Blackpink-2023-members-01-9d67ffe25a474456b4be77adedb057b0.jpg" alt="Blackpink" width="85%">
						<h4 style= "margin-top: 25px">Blackpink's Jisoo</h4>
						<img src="https://fashionista.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MTkyNjMzMDI2NTU4MDQzMTky/jisoo-dior-paris-fashion-week-spring2023.webp" alt="Jisoo" width="45%">
						<h4 style= "margin-top: 25px">Blackpink's Jennie</h4>
						<img src="https://people.com/thmb/BzLJqnBcFHGaThUXVTbD3yzJZ1c=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(1559x504:1561x506):format(webp)/Blackpink-jennie-061323-02-758169251c384989b14fdb493e85a60d.jpg" alt="Jennie" width="45%">
						<h4 style= "margin-top: 25px">Blackpink's Lisa</h4>
						<img src="https://akns-images.eonline.com/eol_images/Entire_Site/20211024/rs_1024x759-211124093326-1024-Lisa-Blackpink-LT-112421-GettyImages-1322422681.jpg?fit=around%7C1024:759&amp;output-quality=90&amp;crop=1024:759;center,top" alt="Lisa" width="45%">
						<h4 style= "margin-top: 25px">Blackpink's Rose</h4>
						<img src="https://assets.vogue.in/photos/646f4d4b13d0fd2111a36089/2:3/w_1920,c_limit/CNE_ITB_Rose_HD_Thumbnail.jpg" alt="Rose" width="45%">
				
						<p>Blackpink is a South Korean girl group formed by YG Entertainment, consisting of members Jisoo, Jennie, Lisa, and Rosé. The group debuted in August 2016, they are referred to as the "biggest girl group in the world", Blackpink is the most successful Korean girl group internationally.</p>
					</div>
					
					<div id="Audio">
						<h1>Lovesick Girls</h1>
							<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/903272113&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/blackpinkofficial" title="BLACKPINK" target="_blank" style="color: #cccccc; text-decoration: none;">BLACKPINK</a> · <a href="https://soundcloud.com/blackpinkofficial/lovesick-girls" title="Lovesick Girls" target="_blank" style="color: #cccccc; text-decoration: none;">Lovesick Girls</a></div>

						<p>"Lovesick Girls" is a song by South Korean girl group Blackpink, released on October 2, 2020, through YG Entertainment and Interscope Records, as the third single from the group's first Korean-language studio album, The Album (2020). It was written by Teddy, Løren, Danny Chung, and group members Jisoo and Jennie, while Teddy produced the song alongside 24 and R. Tee. "Lovesick Girls" is a dance-pop and electropop song with elements of EDM sound.</p>
						</div>

					<div id="Video">
						<h1>Forever Young</h1>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/67otJZ6qe9Y" title="Forever Young" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							<p>"Forever Young" is a song recorded by South Korean girl group Blackpink, serving as the second track in the group's first mini-album Square Up. It was written and produced by Teddy and Future Bounce.The song was recorded in 2015, before Blackpink's official debut in August 2016.Tamar Herman of Billboard characterized "Forever Young" as a beachy, moombahton-based song, within which they declare that Blackpink is "the revolution". She also noted the use of English-language profanity in the song, which she called a rarity in music put out by K-pop girl groups. </p>
					</div>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>